<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

<div class="row g-3">
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Name</th>
        <th scope="col">Emp Id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Dev</td>
        <td>235</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jisma</td>
        <td>357</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Zoya</td>
        <td>632</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ram</td>
        <td>932</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Sunaif/td>
        <td>481</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Hiba</td>
        <td>527</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Shyma</td>
        <td>721</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Rony</td>
        <td>856</td>
      </tr>
    </tbody>
  </table>

        </div>
    </div>
</div>
